.App {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  max-width: 1140px;
  padding: 20px;
  margin: 30px auto;
}
header {
  max-width: 1140px;
  margin: auto;
  padding: 20px 30px;
}
.pokemonCard {
  border: 2px solid blue;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}
div[data-isSelected=true]{
background-color: pink;
}
.box {
  border: 5px solid pink;
  padding: 20px;
  margin: 30px auto;
  width: 350px;
  border-radius: 15px;
  display: flex;
  position: relative;
}

.image{
  width: auto;
  height: 180px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 0;
}
